@import './vars.css';

.App{
    background-color: var(--color-bg);
    /* background: linear-gradient(90deg, var(--color-bg) 0%,#132a53 100%); */
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    
}